<script setup lang="ts">
import { ref } from "vue";
import Profile from "@/components/ProFileView.vue";
const frameList = ref([
  { name: "VueJS", img: "https://img.icons8.com/color/512/vue-js.png" },
]);
</script>

<template>
  <div>
    <v-container>
      <v-row justify="center">
        <v-col v-for="(item, index) of frameList" :key="index">
          <Profile
            name=""
            img=""
            :colors="[
              'blue',
              'warning',
              'blue-grey darken-4',
              'deep-orange lighten-4',
            ]"
            :slides="['โปรไฟล์', 'ชื่อ', 'ประวัติการศึกษา', 'สนใจ']"
            :data="[
              {
                schoolname: 'รร.วัดหนองสองห้อง',
                year: 'อนุบาลปีที่ 1-2',
              },
              {
                schoolname: 'รร.วัดท่าเกวียน (สัยอุทิศ)',
                year: 'ประถมศึกษาปีที่ 1-6',
              },
              {
                schoolname: 'รร.พนมสารคาม (พนมอดุลวิทยา)',
                year: 'มัธยมศึกษาปีที่ 1-6',
              },
              {
                schoolname: 'ม.บูรพา',
                year: 'ปัจจุบัน',
              },
            ]"
          ></Profile>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
