<script setup lang="ts">
const props = defineProps<{
  name: string;
  img: String;
  colors: ["blue", "warning", "blue-grey darken-4", "deep-orange lighten-4"];
  slides: ["โปรไฟล์", "ชื่อ", "ประวัติการศึกษา", "สนใจ"];
  data: [
    {
      schoolname: "รร.วัดหนองสองห้อง";
      year: "อนุบาลปีที่ 1-2";
    },
    {
      schoolname: "รร.วัดท่าเกวียน (สัยอุทิศ)";
      year: "ประถมศึกษาปีที่ 1-6";
    },
    {
      schoolname: "รร.พนมสารคาม (พนมอดุลวิทยา)";
      year: "มัธยมศึกษาปีที่ 1-6";
    },
    {
      schoolname: "ม.บูรพา";
      year: "ปัจจุบัน";
    }
  ];
}>();
</script>

<template>
  <v-carousel height="700" show-arrows hide-delimiter-background>
    <template v-slot:prev="{ props }">
      <v-btn variant="elevated" color="success" @click="props.onClick"
        >ก่อนหน้า</v-btn
      >
    </template>
    <template v-slot:next="{ props }">
      <v-btn variant="elevated" color="info" @click="props.onClick"
        >ถัดไป</v-btn
      >
    </template>
    <v-carousel-item v-for="(slide, i) in slides" :key="i">
      <v-sheet :color="colors[i]" height="100%">
        <div class="justify-center align-center">
          <div class="text-h4">
            {{ slide }}
            <div v-if="i === 0">
              <v-card class="mx-auto" max-width="1200" rounded="0">
                <v-img
                  height="100%"
                  cover
                  src="https://www.ktc.co.th/pub/media/Travel-Story/Thailand/Rayong-sea/ko-man-nork.webp"
                >
                  <v-avatar size="600" rounded="0">
                    <v-img
                      cover
                      src="https://cdn.discordapp.com/attachments/734782491029798992/1053920242000212059/line_371864975752465.jpg"
                    ></v-img>
                  </v-avatar>
                  <v-list-item
                    class="text-white"
                    title="Kantinan  Srikasem"
                    subtitle="64160040"
                  ></v-list-item>
                </v-img>
              </v-card>
            </div>
            <div v-else-if="i === 1">
              <v-card
                class="mx-auto"
                color="#26c6da"
                theme="dark"
                max-width="400"
                title="Name"
              >
                <v-card-text class="text-h5 py-2">
                  นาย กันตินัน ศรีเกษม 64160040 คณะ วิทยการสารสนเทศ สาขา
                  วิทยาการคอมพิวเตอร์
                </v-card-text>

                <v-card-actions>
                  <v-list-item class="w-100">
                    <template v-slot:prepend>
                      <v-avatar
                        color="grey-darken-3"
                        image="https://lh3.googleusercontent.com/a/AEdFTp5sCdK3xrpGkXgvwkB23t22nCuopdn9FBsJEjr3=s96-c-rg-br100"
                      ></v-avatar>
                    </template>

                    <v-list-item-title>Kantinan Srikasem</v-list-item-title>

                    <v-list-item-subtitle>64160040</v-list-item-subtitle>
                  </v-list-item>
                </v-card-actions>
              </v-card>
            </div>
            <div v-else-if="i === 2">
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">ชื่อสถานศึกษา</th>
                    <th class="text-left">ระดับศึกษา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in data" :key="item.schoolname">
                    <td>{{ item.schoolname }}</td>
                    <td>{{ item.year }}</td>
                  </tr>
                </tbody>
              </v-table>
            </div>
            <div v-else-if="i === 3">
              <v-card max-width="400" class="mx-auto">
                <v-container>
                  <v-row dense>
                    <v-col cols="12">
                      <v-card color="#952175" theme="dark">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <div>
                            <v-card-title class="text-h5">
                              ดูอนิเมะ
                            </v-card-title>

                            <v-card-subtitle>watch anime</v-card-subtitle>

                            <v-card-actions>
                              <v-btn
                                class="ml-2"
                                icon="mdi-play"
                                variant="text"
                              ></v-btn>
                            </v-card-actions>
                          </div>

                          <v-avatar class="ma-3" size="125" rounded="0">
                            <v-img
                              src="https://www.kikazaru360.com/wp-content/uploads/2021/09/Los-mejores-sitios-web-para-aficionados-al-anime-1.jpeg"
                            ></v-img>
                          </v-avatar>
                        </div>
                      </v-card>
                    </v-col>

                    <v-col cols="12">
                      <v-card color="pink" theme="dark">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <div>
                            <v-card-title class="text-h5">
                              อ่านมังงะ
                            </v-card-title>

                            <v-card-subtitle>read manga</v-card-subtitle>

                            <v-card-actions>
                              <v-btn
                                class="ml-2"
                                icon="mdi-play"
                                variant="text"
                              ></v-btn>
                            </v-card-actions>
                          </div>

                          <v-avatar class="ma-3" size="125" rounded="0">
                            <v-img
                              src="https://cf.shopee.co.th/file/cceb7b796ad88ea76af9fbb6e503d4fd"
                            ></v-img>
                          </v-avatar>
                        </div>
                      </v-card>
                    </v-col>

                    <v-col cols="12">
                      <v-card color="red" theme="dark">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <div>
                            <v-card-title class="text-h5">
                              เเบตมินตัน
                            </v-card-title>

                            <v-card-subtitle>badminton</v-card-subtitle>

                            <v-card-actions>
                              <v-btn
                                class="ml-2"
                                icon="mdi-play"
                                variant="text"
                              ></v-btn>
                            </v-card-actions>
                          </div>

                          <v-avatar class="ma-3" size="125" rounded="0">
                            <v-img
                              src="https://selevengallery.com/wp-content/uploads/2021/06/badminton-how-is-it-useful.jpg"
                            ></v-img>
                          </v-avatar>
                        </div>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </div>
        </div>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>
